.footer {
  background-color: #2457bd;
  color: #ffffff;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer strong {
  font-weight: 700;
}
